aiohttp==3.9.5
aiosignal==1.3.1
altgraph==0.17.4
aniso8601==9.0.1
anyio==4.4.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.0
async-lru==2.0.4
attrs==23.2.0
auto-py-to-exe==2.44.1
autobahn==23.6.2
Babel==2.15.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.6
click-default-group==1.2.2
cloup==3.0.5
colorama==0.4.6
colour==0.1.5
comm==0.1.4
contourpy==1.2.1
cryptography==42.0.8
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
Eel==0.16.0
emoji==2.12.1
et-xmlfile==1.1.0
executing==2.0.0
fastjsonschema==2.19.1
flasgger==0.9.7.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
flask-swagger-ui==4.11.1
fonttools==4.53.0
fqdn==1.5.1
frozenlist==1.4.1
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
glcontext==2.4.0
greenlet==3.0.3
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
hyperlink==21.0.0
idna==3.4
ipykernel==6.25.2
ipython==8.16.1
ipywidgets==8.1.3
isoduration==20.11.0
isosurfaces==0.1.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.3.1
jupyter_core==5.3.2
jupyter_server==2.14.1
jupyter_server_proxy==4.2.0
jupyter_server_terminals==0.5.3
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_vpython==3.1.8
jupyterlab_widgets==3.0.11
kiwisolver==1.4.5
labyrinth==0.1.1
labyrinth-py==1.0.4
Mako==1.3.5
manim==0.18.1
ManimPango==0.5.0
mapbox_earcut==1.0.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
matplotlib-inline==0.1.6
maze==3.0.0
mdurl==0.1.2
mistune==3.0.2
moderngl==5.8.2
moderngl-window==2.4.4
multidict==6.0.5
multipledispatch==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.5.8
networkx==2.8.8
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.26.4
openpyxl==3.1.4
overrides==7.7.0
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.3
pefile==2023.2.7
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==3.11.0
prometheus_client==0.20.0
prompt-toolkit==3.0.39
psutil==5.9.5
pure-eval==0.2.2
pycairo==1.26.1
pycparser==2.22
pydub==0.25.1
pyglet==2.0.8
Pygments==2.15.1
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyparsing==3.1.2
pyrr==0.10.3
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.5.2
QtPy==2.4.1
referencing==0.35.1
reportlab==4.2.2
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rpds-py==0.18.1
scipy==1.14.0
screeninfo==0.8.1
seaborn==0.13.2
Send2Trash==1.8.3
setuptools==69.5.1
simpervisor==1.0.0
six==1.16.0
skia-pathops==0.8.0.post1
sniffio==1.3.1
soupsieve==2.5
srt==3.5.3
stack-data==0.6.3
svgelements==1.9.5
tempmail-python==2.3.3
terminado==0.18.1
tinycss2==1.3.0
tornado==6.3.3
tqdm==4.65.0
traitlets==5.11.2
txaio==23.1.1
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.1
uri-template==1.3.0
urllib3==2.0.4
vosk==0.3.45
vpython==7.6.5
watchdog==2.3.1
wcwidth==0.2.8
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.4
whichcraft==0.6.1
widgetsnbextension==4.0.11
yarl==1.9.4
zope.event==5.0
zope.interface==6.4.post2
